{% extends 'base.html' %}
{% block content %}

<h2>CONSULTAS - CLIENTES</h2>

{% if clientes %}
<table>
    <thead>
        <tr>
            <th>No. Cliente</th>
            <th>Nombre</th>
            <th>Ap. Paterno</th>
            <th>Ap. Materno</th>
            <th>Sexo</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
        {% for c in clientes %}
        <tr>
            <td>{{ c[0] }}</td>
            <td>{{ c[1] }}</td>
            <td>{{ c[2] }}</td>
            <td>{{ c[3] }}</td>
            <td>{{ c[4] }}</td>
            <td>{{ c[5] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p style="color:#aaa;">No hay clientes registrados.</p>
{% endif %}

{% endblock %}
